body {
  background: black;
  color: white;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}


.moviePoster {
  width: 200px;
  height: auto;
}

li {
  list-style: none;
}

.button {
  visibility: hidden;
  position: relative;
  bottom: 80px;
  left: 80px;
  z-index: 2;
}

/* .moviePoster:hover + .button {
  visibility: visible;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
